{%- if site.texture.analytics_id -%}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.texture.analytics_id }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', '{{ site.texture.analytics_id }}');
</script>
{%- endif -%}

{%- if site.texture.showPicker -%}
<div id="texture-picker">
	<div style="display:flex;justify-content: space-between">
		<p>Select Texture</p>
		<p><a id="hidePicker" href="#">Hide</a></p>
	</div>
	<div class="texture-colors">
		<div id="black"></div>
		<div id="qiuri"></div>	
		<div id="red"></div>	
		<div id="yuhui"></div>		
		<div id="green"></div>
	</div>
	<p class="info search">
	    <!-- <i class="material-icons search-icon search-start">search</i> -->
	    <input type="text" class="search-input" placeholder="Searching...(支持正则表达)" />
	    <!-- <i class="material-icons search-icon search-clear">clear</i> -->
		<div class="search-results"></div>
	</p>
	<p class="info">You can link to the <b><a href="{{ site.url }}/tags">tags</a></b> for selecting items from the one of tags</p>
</div>
<script src="{{ "/assets/js/picker.js" | relative_url }}"></script>
{%- endif -%}

{%- if site.texture.useMathJax -%}
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{%- endif -%}
