@import 'ext/solarized-light';



.highlight {
	background-color: #f4f4f400;
	border-radius: 5px;
}

div.highlight {
	border-radius: 5px;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	color: #1990f6;
	background-color: #dee5f1;
}
